*.orig
*.pyc
*.rej
*.bak
*~
Makefile.in
Makefile.am
build/
autom4te.cache/
.hg/
po*/dist
po*/intltool-update
po*/missing
po*/notexist
po*/pot
Makefile.in.in
*-old.*
*-old
moo/mooapp/mooapp-credits.h
.hgtags
.moo.mprj.session
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
intltool-*.in
ltmain.sh
missing
