[Desktop Entry]
Encoding=UTF-8
Name=medit
Comment=Text editor
Exec=medit %F
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=medit.png
Categories=Application;Utility;TextEditor;
